/* Header */
.headerLogin{
    font-weight: 600;  
}

/* Section Log In */
#formulaire{
    height: 800px;
}
#mdpo{
text-decoration-line: underline;
text-align: center;
}
.MessageErreur{
  text-align: center;  
  margin : 1rem;
  font-style: italic;
  line-height: 1.5rem;
}